<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container mt-5">
    <h2 style="color: white;"><%= blog.content %> </h2>

    <p class="mt-5" style="color:darkcyan">~<em><%= blog.title %></em> </p>
</div>

<%- include("./partials/footer") %>